body{
    font-family: Raleway, sans-serif;
    
}

header{
    justify-content: center;
    background-color: rgb(11, 136, 232);
    padding: 20px;
    font-weight: bolder;
    font-size: 38px;
    
}