body{
    font-family: Raleway, sans-serif;
    
}

header{
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(42, 156, 243), rgb(2, 48, 82));
    padding: 20px;
    font-weight: bolder;
    font-size: 38px;
    color:rgb(2, 31, 50);
    border-radius: 3px;
    
}

.input-group{
    padding: 20px;
        
}